.places {
	border: 0;
	flex-direction: column;
	display: flex;
	padding-left: 30px;
}

.places h1 {
	font-size: 30px;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: solid #FF5A5F 1px;
	border-radius: 4px;
	text-align: center;
	font-size: 30px;
}

.divdr {
	display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: center
}

.places h2 {
	font-size: 30px;
	margin-top: -2;
}
